<template>
    <div class="col-2-3" id="post-container">
        <div class="wrap-col">
            <ShortDescription
                v-for="post in posts"
                v-bind:post="post"
                v-bind:key="post.id"
            />
            <div class="spacing-20"></div>
            <div class="clear"></div>
        </div>
    </div>
</template>
<script>
    import ShortDescription from "./ShortDescription";

    export default {
        components: {
            ShortDescription
        },
        props: [
            'blogsUrl'
        ],
        data() {
            return {
                posts: {}
            };
        },
        created() {
            let currentObj = this;
            axios.post(this.blogsUrl, {})
                .then(function (response) {
                    currentObj.posts = response.data;
                })
                .catch(function (error) {
                    console.log('err');
                });
        },
        methods: {}
    }
</script>
