<style>
    li {
        list-style-type: none;
    }
</style>
<template>
    <li>
        <div class="post">
            <div class="post-margin">
                <h4 class="post-title">
                    <a :href="'/blog/show/' + post.id" itemprop="url">
                        {{ post.title }}
                    </a>
                </h4>
                <ul class="post-status">
                    <li><i class="fa fa-clock-o"></i>
                        <!--                        <time-->
                        <!--                            datetime="{{ $blog->convertToBlogTimezone($entry->getPublished())->toAtomString() }}"-->
                        <!--                            lang="ru" dir="ltr" itemprop="datePublished">-->
                        <!--                            {{ $entry->getPublished()->diffForHumans() }}-->
                        <!--                        </time>-->
                    </li>
                    <li><i class="fa fa-folder-open-o"></i>
                        <a :href="'/blog/category/' + post.blog"
                           title="Смотреть посты"
                           rel="category">{{ post.blog }}</a></li>
                    <li>
                        <i class="fa fa-comment-o"></i>
                        Нет комментариев
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="featured-image">
                <img
                    width=100 :src="post.image"
                    alt="" class="attachment-post-standard "/>
                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
            <div class="post-margin">
                <p>
<!--                    {{ $entry->getPartOfSummary() }}-->
                </p>
            </div>
            <ul class="post-social">
                <li><a href="#" target="_blank">
                    <i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a :href="'/blog/show/' + post.id" class="readmore">
                        Читать <i class="fa fa-arrow-circle-o-right"></i>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </li>
</template>
<script>
    export default {
        props: [
            'post'
        ],
        data() {
            return {

            };
        },
        created() {
        },
        methods: {}
    }
</script>
