<template>
    <div class="widget-container">
        <h6 class="widget-title">Категории</h6>
        <ul>
            <li class="cat-item cat-item-5">
                <a href="#" title="View all posts filed under Apps">
                    Apps
                </a>
            </li>
            <li class="cat-item cat-item-3">
                <a href="#" title="View all posts filed under Illustration">
                    Illustration
                </a>
            </li>
            <li class="cat-item cat-item-4">
                <a href="#" title="View all posts filed under Logo">
                    Logo
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</template>
