<template>
    <div class="widget-container">
        <h6 class="widget-title">
            Последние публикации
        </h6>
        <ul class="widget-recent-posts">
            <li v-for="post in posts">
                <div class="post-image">
                    <div class="post-mask">
                    </div>
                    <img width="70" height="70" :src="post.image"
                         class="attachment-post-widget #"/>
                </div>
                <h6>
                    <a :href="'/blog/show/' + post.id">
                        {{ post.title }}
                    </a>
                </h6>
                <span>
                    {{ post.publish_after }}
                </span>
                <div class="clear"></div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</template>
<script>
    import Search from "./Search";
    import LastPosts from "./LastPosts";

    export default {
        components: {
            Search,
            LastPosts
        },
        props: [
            'url'
        ],
        data() {
            return {
                posts: {}
            };
        },
        created() {
            let currentObj = this;
            axios.post(this.url, {})
                .then(function (response) {
                    currentObj.posts = response.data;
                })
                .catch(function (error) {
                    console.log('err');
                });
        },
        methods: {}
    }
</script>
