<template>
    <div class="col-1-3">
        <div class="wrap-col">
            <Search />
            <Categories />
            <LastPosts :url="'/new-blog/getLastPosts'"/>
            <div class="clear">
            </div>
        </div>
    </div>
</template>
<script>
    import Search from "./Search";
    import LastPosts from "./LastPosts";
    import Categories from "./Categories";

    export default {
        components: {
            Search,
            LastPosts,
            Categories
        },
        data() {
            return {
            };
        },
        created() {
        },
        methods: {

        }
    }
</script>
