<template>
    <section class="file-section">
        <div class="inner_wrap" style="flex-wrap: wrap;">
            <div class="file-background"></div>
            <div class="modal-profile__contacts-item" style="display: flex;flex: 3;
    flex-direction: row;flex-wrap: wrap;">
                <div
                    :style="[files.length ? {'color': 'black'} : {'color': '#999999'}]"
                    class="modal-profile__subtitle modal-profile__subtitle_file"
                >
                    <span v-html="text">
                    </span>
                    <span
                        style="font-size: 15px;font-weight: 300;"
                    >
                        {{subtitle}}
                    </span>
                </div>

                <img style="align-self: baseline;margin-right: 80px;" class="img" src="/img/secondstep/question.png"/>
            </div>
            <div class="modal-profile__contacts-item">
                <button style="display: flex;" @click.prevent="openDialog" class="button">
                    Прикрепить файл
                    <img class="img" src="/img/secondstep/clip.png"/>
                </button>
            </div>
        </div>
        <div class="inner_wrap">
            <div
                style="flex-wrap: wrap;"
                class="modal-profile__contacts-item modal-profile__contacts-item-files">
                <div v-for="(file, index) in files" class="file">
                    <input
                        @change.prevent="uploadFile"
                        :ref="'fileDoc' + index"
                        :name="'fileDoc' + files.length"
                        type="file"
                        accept=".png,.jpg,.jpeg,.svg"
                        hidden/>
                    <span class="filename">{{file.name}}</span>
                    <a @click.prevent="deleteFile(index)" href="#"><img
                        src="/img/secondstep/cross.png"/>
                    </a>
                </div>
                <div class="file">
                    <input
                        @change.prevent="uploadFile"
                        :ref="'fileDoc' + files.length"
                        type="file"
                        :name="'fileDoc' + files.length"
                        accept=".png,.jpg,.jpeg,.svg"
                        hidden/>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        props: [
            'text',
            'subtitle',
            'id'
        ],
        data() {
            return {
                files: []
            };
        },
        watch: {},
        created() {
        },
        methods: {
            deleteFile(index) {
                let attachFilename = 'attachFile' + this.id;
                let file = this.files[index];
                let data = {
                    name: file.name,
                    blockName: attachFilename,
                };
                let curObj = this;
                axios.post('delete-file', data)
                    .then(function (response) {
                        curObj.files.splice(index, 1);
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            },
            openDialog(value) {
                let name = 'fileDoc' + this.files.length;
                let elem = this.$refs[name];
                elem.click();
            },
            uploadFile(e) {
                let reader = new FileReader();
                let vm = this;
                let fileName = e.target.files[0]['name'];
                let file = e.target.files[0];
                let blockFilename = 'attachFile' + this.id;
                let curObj = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                    axios.post('upload-file', {
                        image: vm.image,
                        blockName: blockFilename,
                        name: fileName,
                    })
                        .then(function (response) {
                            Vue.swal('Картинка загружена.');
                            curObj.files.push(file);
                        })
                        .catch(function (error) {
                            console.log('err');
                        });
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        }
    }
</script>
<style>
    .modal-profile__contacts-item .button {
        background-color: transparent;
        border: 2px dashed black;
        padding: 15px 20px;
        border-radius: 35px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .file-section .file-background {
        position: absolute;
        width: 130%;
        top: -25px;
        margin-left: -15%;
        left: 0;
        height: -webkit-fill-available;
        background-color: #FAFAFA;
    }

    .file-section:nth-child(2n) .file-background {
        background-color: white;
    }

    .modal-profile__subtitle_file h2 {
        font-size: 16px;
    }

    .file-section {
        position: relative;
    }

    .modal-profile__contacts-item .file {
        flex-grow: 1;
        width: 33%;
        height: 55px;
        display: flex;
        flex-wrap: initial;
    }
</style>
