<template>
    <div class="modal-profile__wrap firstTab" id="show">
        <h2 class="modal-profile__params-title">
            Контакты компании
        </h2>
        <div class="modal-profile__contacts-inner" style="z-index: 999">
            <div class="inner_wrap">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_email">
                    <company-email
                        :id="'modal-profile-email'"
                        :placeholder="'Электронная почта*'"
                        ref="companyEmail"
                        :customHeight="'height: 60px;'"
                        @sendEmail="getCompanyEmail">
                    </company-email>
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                    <input class="input"
                           id="modal-profile-phone"
                           type="number"
                           value=""
                           v-model="contacts.phone"
                           required
                           placeholder="Номер телефона*">
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_site">
                    <input class="input"
                           id="modal-profile-phone"
                           type="text"
                           v-model="contacts.site"
                           value=""
                           placeholder="Сайт или социальные сети"
                    >
                </div>
            </div>
        </div>
        <h2 class="modal-profile__params-title">
            Контакты бухгалтерии
        </h2>
        <div class="modal-profile__contacts-inner" style="z-index: 998">
            <div v-for="(office, index) in offices"
                 id="dublicateContacts"
                 class="inner_wrap">
                <div class="modal-profile__contacts-item">
                    <office-email
                        :id="'modal-profile-email'"
                        :customHeight="'height: 60px;'"
                        :placeholder="'Электронная почта(бухгалтерия)*'"
                        :ref="'officeEmail' + index"
                        @sendEmail="getOfficeEmail($event, index)">
                    </office-email>
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           id="modal-profile-phone"
                           type="number"
                           v-model="office.phone"
                           value=""
                           placeholder="Номер телефона(бухгалтерия)*"
                           required>
                </div>
            </div>
            <a href="#"
               @click.prevent="dublicateContacts"
               class="modal-profile__add-button">
                Добавить поле
                <img
                    src="/images/secondstep/plus.png"></a>
        </div>
        <h2 class="modal-profile__params-title_employee">
            Ответственные сотрудники
        </h2>
        <h2 class="modal-profile__params-subtitle">
            Данные о составе органов управления юридического лица и ответственных сотрудников
            (Бухгалтер, директор, учредители)
        </h2>
        <div
            style="z-index: 997"
            class="modal-profile__contacts-inner modal-profile__contacts-inner_employee">
            <div v-for="(employee, index) in employees" class="inner_wrap">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_employee-name">
                    <input class="input"
                           v-model="employee.name"
                           id="modal-profile-email"
                           type="text"
                           value=""
                           placeholder="Фамилия Имя Отчество"
                           :ref="'employeeEmail' + index"
                           @sendEmail="getEmployeeEmail($event, index)"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="employee.rank"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Должность"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="employee.phone"
                           id="modal-profile-phone"
                           type="number"
                           value=""
                           placeholder="Мобильный телефон"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <employee-email
                        :id="'modal-profile-phone'"
                        :placeholder="'Электронная почта'"
                        :ref="'employeeEmail' + index"
                        :required="'false'"
                        :customHeight="'height: 60px;'"
                        @sendEmail="getEmployeeEmail($event, index)">
                    </employee-email>
                </div>
            </div>
            <a href="#"
               @click.prevent="dublicateEmployee"
               class="modal-profile__add-button">
                Добавить поле <img
                src="/images/secondstep/plus.png"></a>
        </div>
        <h2 class="modal-profile__params-title">
            Юридический адрес
        </h2>
        <div
            style="z-index: 996"
            class="modal-profile__contacts-inner modal-profile__contacts-inner_address">
            <div class="inner_wrap">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_index">
                    <input class="input"
                           v-model="addressLaw.index"
                           id="modal-profile-email"
                           type="number"
                           value=""
                           placeholder="Индекс"
                    >
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_region">
                    <input class="input"
                           v-model="addressLaw.region"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Регион/район"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="addressLaw.city"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Город/населенный пункт"
                    >
                </div>
            </div>
            <div class="inner_wrap">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_street">
                    <input class="input"
                           v-model="addressLaw.street"
                           id="modal-profile-email"
                           type="text"
                           value=""
                           placeholder="Улица"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="addressLaw.home"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Дом"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="addressLaw.building"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Корпус"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="addressLaw.stage"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Этаж"
                    >
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_office">
                    <input class="input"
                           v-model="addressLaw.office"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Офис/комната"
                    >
                </div>
            </div>
        </div>
        <h2 class="modal-profile__params-title">
            Фактический адрес
        </h2>
        <div
            style="z-index: 995"
            class="modal-profile__contacts-inner modal-profile__contacts-inner_address">
            <div class="inner_wrap">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_index">
                    <input class="input"
                           v-model="address.index"
                           id="modal-profile-email"
                           type="number"
                           value=""
                           placeholder="Индекс"
                    >
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_region">
                    <input class="input"
                           v-model="address.region"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Регион/район"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="address.city"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Город/населенный пункт"
                    >
                </div>
            </div>
            <div class="inner_wrap">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_street">
                    <input class="input"
                           v-model="address.street"
                           id="modal-profile-email"
                           type="text"
                           value=""
                           placeholder="Улица"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="address.home"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Дом"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="address.building"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Корпус"
                    >
                </div>
                <div class="modal-profile__contacts-item">
                    <input class="input"
                           v-model="address.stage"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Этаж"
                    >
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_office">
                    <input class="input"
                           v-model="address.office"
                           id="modal-profile-phone"
                           type="text"
                           value=""
                           placeholder="Офис/комната"
                    >
                </div>
            </div>
        </div>
        <h2 class="modal-profile__params-title">
            Банковские реквизиты
        </h2>
        <div
            style="z-index: 994"
            class="modal-profile__contacts-inner modal-profile__contacts-inner_bank">
            <div v-for="credential in credentials"
                 class="inner_wrap_wrap">
                <div class="inner_wrap">
                    <div class="modal-profile__contacts-item modal-profile__contacts-item_employee-name">
                        <input class="input"
                               v-model="credential.inn"
                               id="modal-profile-email"
                               type="number"
                               value=""
                               placeholder="ИНН"
                        >
                    </div>
                    <div class="modal-profile__contacts-item">
                        <input class="input"
                               v-model="credential.kpp"
                               id="modal-profile-phone"
                               type="number"
                               value=""
                               placeholder="КПП"
                        >
                    </div>
                    <div class="modal-profile__contacts-item">
                        <input class="input"
                               v-model="credential.bill"
                               id="modal-profile-phone"
                               type="text"
                               value=""
                               placeholder="Расчетный счет"
                        >
                    </div>
                </div>
                <div class="inner_wrap">
                    <div class="modal-profile__contacts-item">
                        <input class="input"
                               v-model="credential.bic"
                               id="modal-profile-phone"
                               type="text"
                               value=""
                               placeholder="БИК (Идентификационный код вашего банка)"
                        >
                    </div>
                </div>
            </div>
            <a href="#"
               @click.prevent="dublicateCredentials"
               class="modal-profile__add-button">
                Добавить поле <img
                src="/images/secondstep/plus.png"></a>
        </div>
    </div>
</template>
<script>
    import PromptEmail from "../DadataRequest/PromptEmail";

    export default {
        components: {
            'company-email': PromptEmail,
            'office-email': PromptEmail,
            'employee-email': PromptEmail
        },
        props: [
            'action'
        ],
        data() {
            return {
                addressLaw: {
                    index: '',
                    region: '',
                    city: '',
                    street: '',
                    home: '',
                    building: '',
                    stage: '',
                    office: '',
                },
                address: {
                    index: '',
                    region: '',
                    city: '',
                    street: '',
                    home: '',
                    building: '',
                    stage: '',
                    office: '',
                },
                contacts: {email: '', phone: '', site: ''},
                offices: [
                    {email: '', phone: ''}
                ],
                employees: [
                    {name: '', rank: '', phone: '', email: ''}
                ],
                credentials: [
                    {inn: '', kpp: '', bill: '', bic: ''}
                ]
            };
        },
        watch: {},
        created() {
        },
        methods: {
            setData: function (data) {
                if (data) {
                    //set main email
                    this.contacts = {
                        email: data.contacts.email,
                        phone: data.contacts.phone,
                        site: data.contacts.site,
                    };
                    this.$refs.companyEmail.setEmail(data.contacts.email);
                    //set office emails
                    let currentObj = this;
                    currentObj.offices = [];
                    data.offices.forEach(function (obj) {
                        currentObj.offices.push(obj);
                    });
                    currentObj.employees = [];
                    data.employees.forEach(function (obj) {
                        currentObj.employees.push(obj);
                    });
                    currentObj.credentials = [];
                    data.credentials.forEach(function (obj) {
                        currentObj.credentials.push(obj);
                    });
                    window.addEventListener('load', function () {
                        data.offices.forEach(function (obj, index) {
                            let func = "officeEmail" + index;
                            let data = currentObj.$refs[func][0];
                            data.setEmail(obj.email);
                        });
                        data.employees.forEach(function (obj, index) {
                            let func = "employeeEmail" + index;
                            let data = currentObj.$refs[func][1];
                            data.setEmail(obj.email);
                        });
                    });
                    this.addressLaw = data.addressLaw;
                    this.address = data.address;
                }
            },
            dublicateContacts: function (e) {
                this.offices.push({email: '', phone: ''});
            },
            dublicateEmployee: function (e) {
                this.employees.push({name: '', rank: '', phone: '', email: ''});
            },
            dublicateCredentials: function (e) {
                this.credentials.push({inn: '', kpp: '', bill: '', bic: ''});
            },
            getCompanyEmail: function (value) {
                this.contacts.email = value;
            },
            getOfficeEmail(value, index) {
                let office = this.offices[index];
                office.email = value;
            },
            getEmployeeEmail: function (value, index) {
                let employee = this.employees[index];
                employee.email = value;
            }
        }
    }
</script>
