<template>
    <div class="modal-profile__wrap secondTab">
        <h2 class="modal-profile__params-title">
            Документы компании
        </h2>
        <div class="modal-profile__contacts-inner">
            <attach-file-0
                    ref="attachFile0"
                    :id=0
                    :text="'1. Расширенная выписка по расчетным счетам 01.01.2018\n'+
'                    по сегодяшний день в\n'+
'                    трех форматах - pdf, xml, txt'"
            ></attach-file-0>
            <attach-file-1
                    ref="attachFile1"
                    :id=1
                    :text="'2. Свидетельство о регистрации юридического лица (скан)'"
            ></attach-file-1>
            <attach-file-2
                    ref="attachFile2"
                    :id=2
                    :text="'3. Финансовая отчетность за 2018 год с отметками о принятии налоговым органом'"
                    :subtitle="'(Извещение о вводе данных или Квитанция о приеме). (в формате pdf)'"
            ></attach-file-2>
            <attach-file-3
                    ref="attachFile3"
                    :id=3
                    :text="'4. Бухгалтерский баланс Ф1, Ф2 за текущий года с января'"
                    :subtitle="'(в формате pdf, xml)'"
            ></attach-file-3>
            <attach-file-4
                    ref="attachFile4"
                    :id=4
                    :text="'5. ОСВ счета 60/62/76/51 с 2018 г. на дату предоставления информации'"
                    :subtitle="'(в формате pdf, xml)'"
            ></attach-file-4>
            <attach-file-5
                    ref="attachFile5"
                    :id=5
                    :text="'6. Паспорт генерального директора'"
                    :subtitle="'(скан всех страниц в формате jpeg, pdf)'"
            ></attach-file-5>
        </div>
    </div>
</template>
<script>
    import AttachFile from "./AttachFile";
    import {mapState, mapActions, mapMutations} from 'vuex';

    export default {
        components: {
            'attach-file-0': AttachFile,
            'attach-file-1': AttachFile,
            'attach-file-2': AttachFile,
            'attach-file-3': AttachFile,
            'attach-file-4': AttachFile,
            'attach-file-5': AttachFile
        },
        props: [
            'action'
        ],
        data() {
            return {};
        },
        created() {
            this.dummy();
        },
        methods: {
            ...mapActions([
                'urltoFile',
                'dummy'
            ]),
            setFiles: function (data) {
                for (let prop in data) {
                    let url = data[prop]['content'];
                    let name = data[prop]['file_name'];
                    let blockName = data[prop]['block_name'];
                    let currentObj = this;
                    this.$store.dispatch(
                        'urltoFile',
                        {'url': url, 'name': name}
                    ).then(function (file) {
                        if (currentObj.$refs[blockName] !== undefined) {
                            currentObj.$refs[blockName].files.push(file);
                        }
                    });
                }
            }
        }
    }
</script>
