<template>
    <div class="modal-profile__wrap modal-profile__wrap thirdTab">
        <first-block ref="firstBlock">
        </first-block>
        <second-block ref="secondBlock">
        </second-block>
        <third-block ref="thirdBlock">
        </third-block>
        <fourth-block ref="fourthBlock">
        </fourth-block>
        <fifth-block ref="fifthBlock">
        </fifth-block>
    </div>
</template>
<script>
    import AttachFile from "./ThirdTab/AttachFile";
    import FirstBlock from "./ThirdTab/FirstBlock";
    import SecondBlock from "./ThirdTab/SecondBlock";
    import ThirdBlock from "./ThirdTab/ThirdBlock";
    import FourthBlock from "./ThirdTab/FourthBlock";
    import FifthBlock from "./ThirdTab/FifthBlock";
    import {mapState, mapActions, mapMutations} from 'vuex';

    export default {
        components: {
            'attach-file': AttachFile,
            'first-block': FirstBlock,
            'second-block': SecondBlock,
            'third-block': ThirdBlock,
            'fourth-block': FourthBlock,
            'fifth-block': FifthBlock,
        },
        data() {
            return {};
        },
        watch: {},
        created() {
        },
        methods: {
            ...mapActions([
                'urltoFile',
                'dummy'
            ]),
            wait(ms) {
                return new Promise(r => setTimeout(r, ms));
            },
            setData: function (data) {
                if (data) {
                    this.$refs.firstBlock.textareaTarget = data.textareaTarget;
                    this.$refs.secondBlock.$refs.attachFiletenderInfo.url = data.url;
                    let currentObj = this;
                    currentObj.$refs.thirdBlock.providers = [];
                    data.providers.forEach(function (obj) {
                        currentObj.$refs.thirdBlock.providers.push(obj);
                    });
                    currentObj.$refs.fourthBlock.customers = [];
                    data.customers.forEach(function (obj) {
                        currentObj.$refs.fourthBlock.customers.push(obj);
                    });
                    currentObj.$refs.fifthBlock.attachFiles = [];
                    data.loans.forEach(function (obj, index) {
                        currentObj.$refs.fifthBlock.attachFiles.push({});
                    });
                    this.wait(500).then(function (file) {
                        data.loans.forEach(function (obj, index) {
                            currentObj.$refs.fifthBlock.$refs['attachFileloanInfo' + index][0].loanInfo = obj;
                        });
                    });
                }
            },
            setFiles: function (data) {
                for (let prop in data) {
                    let url = data[prop]['content'];
                    let name = data[prop]['file_name'];
                    let blockName = data[prop]['block_name'];
                    let currentObj = this;
                    this.$store.dispatch(
                        'urltoFile',
                        {'url': url, 'name': name}
                    ).then(function (file) {
                        if (currentObj.$refs.secondBlock.$refs[blockName] !== undefined) {
                            currentObj.$refs.secondBlock.$refs[blockName].files.push(file);
                        }
                        if (currentObj.$refs.fifthBlock.$refs[blockName] !== undefined) {
                            currentObj.$refs.fifthBlock.$refs[blockName][0].files.push(file);
                        }
                    });
                }
            }
        }
    }
</script>
