<template>
    <div class="modal modal--info" id="modal-info-callback">
        <div class="modal__title">
            Обратный звонок
        </div>
        <!-- /.modal__title -->
        <div class="modal__description">
            Отправьте заявку и мы свяжемся с вами в течении 10 минут. Или позвоните нам по телефону:
            <p id="number">+7 (495) 266-65-58</p>
        </div>
        <form @submit.prevent="formSubmit">
            <div class="modal__text">
                <input
                    v-model="number" required
                    class="input" name="number"
                    type="text" placeholder="Номер телефона"
                    autocomplete="off"
                >
            </div>
            <div class="modal__action">
                <button class="btn btn--red">
                    Перезвоните мне
                </button>
            </div>
        </form>
        <div class="form-question-form__privacy">
            Отправляя заявку я даю согласие на обработку персональных данных.
        </div>
    </div>
</template>
<script>
    export default {
        props: [
            'action'
        ],
        data() {
            return {
                number: ''
            };
        },
        created() {
        },
        methods: {
            formSubmit(e) {
                //e.preventDefault();
                let currentObj = this;
                axios.post(this.action, {
                    number: this.number
                })
                    .then(function (response) {
                        $.fancybox.close();
                        Vue.swal('Спасибо. Ваша заявка принята.');
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            }
        }
    }
</script>
