/*
* Modal--request
*/

.modal--request {
    display: block;
    font-family: 'GothamPro', sans-serif;
    color: #41525d;
}
@media (max-width: 768px) {
    .modal--request {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.modal--request .top{
    color: #ff3333;
}

.modal-request__page {
    display: none;
}

.modal-request__page.modal-request__page--active{
    display: block;
}

.modal-request__page-inner {
    display: flex;
    flex-wrap: wrap;
}

.modal-request__section {
    flex-basis: 100%;
    margin-bottom: 18px;
}

.modal-request__section:last-child {
    margin-bottom: 0;
}

.board {
    box-shadow: 0 15px 30px rgba(42, 20, 19, 0.1);
    border-radius: 30px;
    background-color: #ffffff;
}

.modal-request__steps {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 85px;
    padding-right: 65px;
}
@media (max-width: 768px) { 
    .modal-request__steps {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.modal-request__steps ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
@media (max-width: 480px) { 
    .modal-request__steps ul {
        flex-wrap: wrap;
    }
}

.modal-request__steps li {
    flex-basis: 20%;
    margin-bottom: 0;
}
@media (max-width: 480px) { 
    .modal-request__steps li {
        flex-basis: 50%;
        margin-bottom: 15px;
    }
}


.modal-request__step {
    padding: 0;
    border: none;
    color: #999999;
    background-color: transparent;
}

.modal-request__step--active {
    color: #41525d;
}


.modal-request__step-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

.modal-request__step--active .modal-request__step-title {
    font-weight: 700;
}

.modal-request__step-text {
    font-weight: 300;
    line-height: 18px;
    font-size: 14px;
}

.modal-request__step--active .modal-request__step-text {
    font-weight: 400;
}

.modal-request__details {
    flex-basis: 57%;
    margin-right: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 15px;
}
@media (max-width: 768px) {
    .modal-request__details {
        flex-basis: 100%;
    }
}

.modal-request__details-header {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-request__details-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 75%;
}
@media (max-width: 768px) {
    .modal-request__details-info {
        flex-basis: 100%;
    }
}

.modal-request__details-action {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 25px;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    min-height: 28px;
    text-decoration: underline;
    vertical-align: center;
}

.modal-request__details-action::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/modal-request/pen.png");
    background-position: center center;
}

.modal-request__details-title {
    flex-basis: 75%;
    margin-bottom: 20px;
    color: #232528;
    font-family: "GothamPro";
    font-size: 30px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .modal-request__details-title {
        flex-basis: 85%;
        font-size: 26px;
    }
}
@media (max-width: 768px) {
    .modal-request__details-title {
        flex-basis: 85%;
        font-size: 22px;
    }
}

.modal-request__details-item {
    flex-basis: 100%;
    color: #41525d;
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.modal-request__details-item--inn {
    flex-basis: 50%;
}
@media (max-width: 576px) {
    .modal-request__details-item--inn {
        flex-basis: 100%;
    }
}

.modal-request__details-item--ogrn {
    flex-basis: 50%;
}
@media (max-width: 576px) {
    .modal-request__details-item--ogrn {
        flex-basis: 100%;
    }
}

.modal-request__item-title {
    line-height: 30px;
}

.modal-request__link {
    color: #0099cc;
    line-height: 30px;
}

.modal-request__link:visited,
.modal-request__link:hover,
.modal-request__link:active {
    color: #0099cc;
}

.modal-request__link:hover {
    text-decoration: underline;
}

.modal-request__limit {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 15px;
}
@media (max-width: 768px) {
    .modal-request__limit {
        flex-basis: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
}

.modal-request__limit-title {
    color: #41525d;
    align-self: flex-start;
    font-family: "GothamPro";
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}
@media (max-width: 768px) {
    .modal-request__limit-title {
        margin-right: 40px;
        line-height: 44px;
    }
}

.modal-request__limit-sum {
    align-self: center;
}

.modal-request__limit-text {
    align-self: flex-start;
    color: #ff0000;
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
}
@media (max-width: 768px) {
    .modal-request__limit-text {
        flex-basis: 100%;
    }
}


.modal-request__params {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #232528;
    font-family: "GothamPro";
    padding-top: 28px;
    padding-bottom: 40px;
    padding-left: 28px;
    padding-right: 28px;
}


.modal-request__params-title {
    margin-bottom: 40px;
    flex-basis: 100%;
    font-size: 30px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .modal-request__params-title {
        font-size: 26px;
        margin-bottom: 30px;
    }
}
@media (max-width: 576px) {
    .modal-request__params-title {
        font-size: 22px;
        margin-bottom: 25px;
    }
}


.modal-request__params-text {
    margin-bottom: 43px;
    flex-basis: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
@media (max-width: 768px) {
    .modal-request__params-text {
        margin-bottom: 25px;
    }
}


.modal-request__params-item {
    flex-basis: 43%;
}
@media (max-width: 768px) {
    .modal-request__params-item {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

.modal-request__param-desc {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
@media (max-width: 768px) {
    .modal-request__param-desc {
      margin-bottom: 15px;
     }
}

.modal-request__param-note{
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    font-style: italic;
}

.modal-request-range__value {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}
@media (max-width: 768px) {
    .modal-request-range__value {
        margin-bottom: 15px;
     }
}

.modal-request__contacts {
    padding-top: 15px;  
    padding-right: 67px;
    padding-left: 30px;
    padding-bottom: 33px;    
}

.modal-request__contacts-title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
@media (max-width: 576px) {
    .modal-request__contacts-title {
        font-size: 20px;
     }
}

.modal-request__contacts-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-request__contacts-item {
    flex-basis: 48%;
}
@media (max-width: 768px) {
    .modal-request__contacts-item {
        flex-basis: 100%;
     }
}


.modal-request__contacts-lbl {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
}

.modal-request__contacts .input {
    margin-bottom: 48px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}
@media (max-width: 768px) {
    .modal-request__contacts .input {
        margin-bottom: 28px;
     }
}

.request-contacts__bottom {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .request-contacts__bottom {
        flex-wrap: wrap;
     }
}

.request-contacts__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 60%;
}
@media (max-width: 768px) {
    .request-contacts__content {
        margin-top: 20px;
        flex-basis: 100%;
        order: 1;
     }
}


.request-contacts__content label,
.request-contacts__content a,
.request-contacts__content a:visited,
.request-contacts__content a:hover,
.request-contacts__content a:active
{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.request-contacts__content a {
    text-decoration: underline;    
}

.input-request-content {
    margin-right: 23px;
}

.request-form__btn {
    flex-basis: 30%;
}
@media (max-width: 768px) {
    .request-form__btn {
        flex-basis: 100%;
     }
}

.modal-request__inn {
    display: block;
    width: 57%;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 768px) {
    .modal-request__inn {
        width: 100%;
    }
}


.modal-request__inn-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .modal-request__inn-inner {
        flex-wrap: wrap;
     }
}

.modal-request__inn .input {
    flex-basis: 60%;
}
@media (max-width: 768px) {
    .modal-request__inn .input {
        flex-basis: 100%;
        margin-bottom: 30px;
     }
}

.modal-request__inn-btn {
    flex-basis: 30%;
}
@media (max-width: 768px) {
    .modal-request__inn-btn {
        flex-basis: 100%;
     }
}


/*
* range-input
*/

.modal-request-range__wrap {
    position: relative;
}

/*
*   Линия индикатор
*/
.modal-request-range__wrap .range-input-line {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    top: 50%;
    transform: translateY(-150%);
    border-radius: 3px;
    background-color: #ea5351;
}

.range-input {
    align-self: center;
    width: 100%;
    height: 2em;
    border-radius: 0.25em;
    border: 0;
    padding: 0;
    background: none;
    font-size: inherit;
    cursor: pointer;
    appearance: none;
}

.range-input::-webkit-slider-runnable-track,
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none; 
}


/*    Фоновая линия ползунка Увы, тут похожие наборы свойств приходится писать порознь.

*/
.range-input::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #dde0e2;
}

.range-input::-moz-range-track {
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #dde0e2;
}

.range-input::-ms-track {
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #dde0e2;
    /**/
    color: transparent;
}

/*    Смещающийся элемент ползунка
*/

.range-input::-webkit-slider-thumb {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    box-shadow: 0 15px 30px rgba(230, 57, 54, 0.6);
    border-radius: 13px;
    border: 8px solid #ea5351;
    padding: 0;
    box-shadow: none;
    cursor: ew-resize;
    background-color: #ffffff;
    /**/
    margin-top: -0.68em;
}

.range-input::-moz-range-thumb {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    box-shadow: 0 15px 30px rgba(230, 57, 54, 0.6);
    border-radius: 13px;
    border: 8px solid #ea5351;
    padding: 0;
    box-shadow: none;
    cursor: ew-resize;
    background-color: #ffffff;
}

.range-input::-ms-thumb {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    box-shadow: 0 15px 30px rgba(230, 57, 54, 0.6);
    border-radius: 13px;
    border: 8px solid #ea5351;
    padding: 0;
    box-shadow: none;
    cursor: ew-resize;
    background-color: #ffffff;
}

.range-input::-ms-fill-lower,
.range-input::-ms-tooltip {
  display: none;
}


/*
* range-input END
*/