<style>
    .form-height {
        height: 60px;
    }
    .data-list-element {
        height: auto;
        padding-left: 30px;
        padding-top: 0;
    }
    .modal-request__inn#request-form-inn {
        box-shadow: none;
        padding: 24px 0 !important;
    }
    .modal-request__inn .input {
        width: 100%;
    }
    .modal-request__inn-btn {
        flex-basis: 20%;
    }
    #request-form-inn .form-height {
        flex-basis: 80%;
    }

</style>
<template>
    <form @submit.prevent="formSubmit"
    class="modal modal-request__inn board"
    id="request-form-inn">
        <div class="modal-request__inn-inner">
                <Prompt :class="'form-height'" :classInput="'input'"
                        @sendData="getData"/>
                <button class="modal-request__inn-btn btn btn--red">OK</button>
        </div>
    </form>
</template>

<script>
import Prompt from "../DadataRequest/Prompt";

export default {
    components: {
        Prompt
    },
    props: [
        'action'
    ],
    data() {
        return {
            inn: '',
            address: '',
            ogrn: '',
            name: '',
            companyName: ''
        };
    },
    methods: {
        formSubmit(e) {
            this.$cookie.set(
                'inn', this.inn, 999);
            this.$cookie.set(
                'address', this.address, 999);
            this.$cookie.set(
                'ogrn', this.ogrn, 999);
            this.$cookie.set(
                'name', this.name, 999);
            this.$cookie.set(
                'companyName', this.companyName, 999);
            document.location.href = this.action;
        },
        getData(data) {
            this.address = data.data.address?data.data.address.unrestricted_value:'';
            this.ogrn = data.data.ogrn;
            this.name = data.data.management?data.data.management.name:'';
            this.companyName = data.data.name.short_with_opf?data.data.name.short_with_opf:'';
            this.inn=data.data.inn
        }
    }
}
</script>
