<style>
    .data-list-wrapper {
        background-color: #f1f4f6;
        margin-top: -30px;
        border: 1px solid #dde0e2;
    }

    .data-list {
        list-style-type: none;
        padding-left: 0;
        margin-top: 60px;
    }

    .data-list-element {
        height: auto;
        padding-left: 30px;
        padding-top: 20px;
    }

    .data-list-element:hover {
        height: auto;
        background-color: white;
        cursor: default;
    }

    .data-list-element #secondLine {
        color: grey;
        font-size: 15px;
    }
</style>
<template>
    <div :style="customHeight?customHeight:'height: 50px;'">
        <input
            @keyup="requestDadata"
            class="input"
            name="email"
            :id=id
            type="email"
            v-model="email"
            :placeholder=placeholder
            autocomplete="off"
            :required="required===true || required===undefined?true:false">
        <div
            class="data-list-wrapper"
            :style="{visibility: visibility}"
            v-click-outside="hide"
        >
            <ul class="data-list">
                <li v-if="!suggestions.length"
                    class="data-list-element">
                    Список пуст
                </li>
                <li v-if="suggestions"
                    @click="selectDadataElement(suggestion.value)"
                    class="data-list-element"
                    v-for="suggestion in suggestions">
                    <div>{{ suggestion.value }}</div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import ClickOutside from 'vue-click-outside'

    export default {
        props: [
            'id',
            'placeholder',
            'required',
            'customHeight'
        ],
        data() {
            return {
                visibility: 'hidden',
                email: '',
                suggestions: [],
                action:
                    'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/email'
            };
        },
        watch: {
            email: function (val) {
                this.$emit('sendEmail', val);
            }
        },
        methods: {
            setEmail(email) {
                this.email = email;
            },
            requestDadata(e) {
                let currentObj = this;
                const instance = axios.create({
                    baseURL: this.action,
                    headers: {'Authorization': 'Token 737068ef6c0fd773b8289a694a14b3862786a3ee'}
                });
                instance.post(this.action, {
                    query: this.email
                })
                    .then(function (response) {
                        currentObj.suggestions = response.data.suggestions;
                        currentObj.visibility = 'visible';
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            },
            selectDadataElement(value) {
                this.email = value;
                this.visibility = "hidden";
            },
            hide() {
                this.visibility = "hidden";
            }
        },
        directives: {
            ClickOutside
        }
    }
</script>
