<template>
    <div class="blog-slider-wrap">
        <div class="blog-slider owl-carousel">
            <a :href="'/blog/' + blog.slug"
               class="blog-slider-item"
               v-for="blog in blogs"
            >
                <div class="blog-slider-item__img">
                    <img :src="blog.image" alt="img">
                </div>
                <h3 class="blog-slider-item__title">
                    {{ blog.title }}
                </h3>
                <div class="blog-slider-item__text">
                    {{ blog.summary }}
                </div>
            </a>
        </div>
    </div>
</template>
<script>
    export default {
        props: [
            'page'
        ],
        data() {
            return {
                blogs: {},
                url: 'get-blogs'
            };
        },
        created() {
            let currentObj = this;
            axios.post(this.url, {page: this.page})
                .then(function (response) {
                    currentObj.blogs = response.data;
                    $(document).ready(
                        function () {
                            $(".blog-slider").owlCarousel({
                                items: 3, dots: !0, nav: !0, navText: !1, margin: 30, navElement: "div", responsive: {
                                    0: {items: 1, margin: 0}, 480: {items: 1, margin: 0},
                                    767: {items: 2, margin: 30}, 991: {items: 3, margin: 30}
                                }
                            })
                        })
                })
                .catch(function (error) {
                    console.log('err');
                });
        },
        methods: {}
    }
</script>
