<template>
    <div class="reviews-slider owl-carousel">
        <div class="reviews-slider-item" v-for="review in reviews">
            <div class="reviews-slider-item__img">
                <div class="reviews-slider-item-img">
                    <img :src="review.img" alt="">
                </div>
            </div>
            <div class="reviews-slider-item__text reviews-slider-item-text">
                <h3 class="reviews-slider-item-text__title">
                    {{review.name}}
                </h3>
                <div class="reviews-slider-item-text__from">
                    {{review.company}}
                </div>
                <p class="reviews-slider-item-text__quote">
                    {{review.description}}
                </p>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [
            'page'
        ],
        data() {
            return {
                reviews: {},
                url: 'get-reviews'
            };
        },
        created() {
            let currentObj = this;
            axios.post(this.url, {page: this.page})
                .then(function (response) {
                    currentObj.reviews = response.data;
                    $(document).ready(
                        function() {
                            $(".reviews-slider")
                                .owlCarousel({
                                    items:2,dots:!0,nav:!0,
                                    navText:!1,margin:30,
                                    navElement:"div",responsive:{0:{items:1,margin:0}
                                    ,480:{items:1,margin:0},767:{items:2,margin:30},991:{items:2,margin:30}}})
                        });
                })
                .catch(function (error) {
                    console.log('err');
                });
        },
        methods: {}
    }
</script>
