<template>
    <section class="section about">
        <div class="container">
            <h2 class="section-header section-header--center">
					<span class="section-header__text">
						Преимущества сервиса<br>
						финансирования «физза.ру»
					</span>
                <span class="section-header__bg">
						Преимущества
					</span>

            </h2>
            <div class="about-wrap">
                <div class="row">
                    <div class="about-item">
                        <div class="about-item__ico">
                            <img src="img/design/ico/startup.svg" alt="img">
                        </div>
                        <h3 class="about-item__title">
                            Оперативность
                        </h3>
                        <p class="about-item__text">
                            Онлайн решение по<br>
                            оценке и займу от 10 минут.
                        </p>

                    </div>
                    <div class="about-item">
                        <div class="about-item__ico">
                            <img src="img/design/ico/heart.png" alt="img">
                        </div>

                        <h3 class="about-item__title">
                            Лояльность
                        </h3>
                        <p class="about-item__text">
                            Выдаем займы с любой кредитной историей
                        </p>
                    </div>
                    <div class="about-item">
                        <div class="about-item__ico">
                            <img src="img/design/ico/checklist.png" alt="img">
                        </div>
                        <h3 class="about-item__title">
                            Удобно и без лишней бюрократии
                        </h3>
                        <p class="about-item__text">
                            Займы выдают частные инвесторы, быстро и без лишней бюрократии
                        </p>
                    </div>
                    <div class="about-item">
                        <div class="about-item__ico">
                            <img src="img/design/ico/like.svg" alt="img">
                        </div>
                        <h3 class="about-item__title">
                            Помощь в любой ситуации
                        </h3>
                        <p class="about-item__text">
                            Перезалог и рефинансирование
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
