<template>
    <!--<section class="calc__output calc-out input">-->
    <!--<div class="calc-out__section calc-out__price calc-price">-->
    <!--<div class="calc-price__name">-->
    <!--Стоимость недвижимости (среднее)-->
    <!--</div>-->
    <!--<div class="calc-price__value">-->
    <!--4 245 603 &#8381;-->
    <!--</div>-->
    <!--<div class="calc-price__note">-->
    <!--точность оценки 95%-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="calc-out__section calc-out__loan calc-loan">-->
    <!--<div class="calc-loan__name">-->
    <!--Сумма займа-->
    <!--</div>-->
    <!--<div class="calc-loan__value">-->
    <!--до <span>3 900 000 &#8381;</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="calc-out__section calc-out__range calc-range">-->
    <!--<div class="calc-range__name">-->
    <!--Цена за м2-->
    <!--</div>-->
    <!--<div class="calc-range__value">-->
    <!--92 902 &#8381;-->
    <!--</div>-->
    <!--<div class="calc-range__name">-->
    <!--Диапазон цены-->
    <!--</div>-->
    <!--<div class="calc-range__value">-->
    <!--4 029 259- 4 461 947 &#8381;-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <section class="section section--calc calc">
        <div class="container">
            <h2 class="section-header section-header--center section-header--calc">
                Оцените Вашу недвижимость<br>
                по реальной рыночной стоимости
            </h2>
            <p class="section-slogan">
                Вы получаете до 90% от реальной рыночной цены
            </p>
            <p class="section-info">
                Заполните форму ниже и получите предварительную оценку недвижимости <b>от 1 минуты.</b><br> Отправьте
                заявку и получите деньги под залог недвижимости <b>от 1 дня.</b>
            </p>
            <form @submit.prevent="formSubmit" class="form-calc">
                <section class="calc__input">
                    <label class="form-field form-field--text calc__address">
                        <span class="form-field__name">Населенный пункт, улица, дом</span>
                        <input
                                v-model="city"
                                class="input"
                                type="text"
                                name="calc-address"
                                placeholder="Москва, Большая Садовая улица, 10"/>
                    </label>
                    <div class="form-field form-field--rooms">
                        <span class="form-field__name">Кол-во комнат</span>
                        <ul class="calc-rooms input">
                            <li>
                                <input
                                        v-model="flatsCount"
                                        class="calc__radio"
                                        type="radio"
                                        name="rooms"
                                        value="1"
                                        id="rooms-1"
                                        checked="">
                                <label class="form-field__name" for="rooms-1">1</label>
                            </li>
                            <li>
                                <input
                                        v-model="flatsCount"
                                        class="calc__radio"
                                        type="radio"
                                        name="rooms"
                                        value="2"
                                        id="rooms-2"
                                        checked="checked">
                                <label class="form-field__name" for="rooms-2">2</label>
                            </li>
                            <li>
                                <input
                                        v-model="flatsCount"
                                        class="calc__radio"
                                        type="radio"
                                        name="rooms"
                                        value="3"
                                        id="rooms-3"
                                        checked="">
                                <label class="form-field__name" for="rooms-3">3</label>
                            </li>
                            <li>
                                <input
                                        v-model="flatsCount"
                                        class="calc__radio"
                                        type="radio"
                                        name="rooms"
                                        value="4"
                                        id="rooms-4"
                                        checked="">
                                <label class="form-field__name" for="rooms-4">4+</label>
                            </li>
                        </ul>
                    </div>
                    <label class="form-field calc__square">
                        <span class="form-field__name">Площадь, м2</span>
                        <input v-model="area" class="input" type="text" placeholder="45,7"/>
                    </label>
                </section>
                <div class="calc__action">
                    <button class="btn btn--red">
                        Оформить заявку
                    </button>
                </div>
            </form>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                city: '',
                flatsCount: '',
                area: '',
                action: '/create-request'
            };
        },
        methods: {
            formSubmit(e) {
                let currentObj = this;
                axios.post(this.action, {
                    city: this.city,
                    flats_count: this.flatsCount,
                    area: this.area.replace(',', '.')
                })
                    .then(function (response) {
                        Vue.swal('Спасибо. Ваша заявка принята.');
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            }
        }
    }
</script>

