<template>
    <section class="section faq">
        <div class="container">
            <h2 class="section-header">
                Вопросы и ответы
            </h2>
            <div class="faq-wrap">

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может получить заём (кредит) под залог недвижимости?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать физические лица, юридические лица и индивидуальные предприниматели,
                            имеющие недвижимость в Москве и МО.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Моги ли я, взять кредит под залог квартиры с плохой кредитной историей?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Да, можете. Модель проверки устроена таким образом, что мы обсалютно лояльны к показателям
                            кредитной истории заемщика. Выдаем кредит под залог недвижимости с любой кредитной историей.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие действующий
                            бизнес. Заявку заполняет директор компании или представитель компании/предпринимателя по
                            доверенности. Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие
                            действующий бизнес. Заявку заполняет директор компании или представитель
                            компании/предпринимателя по доверенности.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие действующий
                            бизнес. Заявку заполняет директор компании или представитель компании/предпринимателя по
                            доверенности. Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие
                            действующий бизнес. Заявку заполняет директор компании или представитель
                            компании/предпринимателя по доверенности.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие действующий
                            бизнес. Заявку заполняет директор компании или представитель компании/предпринимателя по
                            доверенности. Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие
                            действующий бизнес. Заявку заполняет директор компании или представитель
                            компании/предпринимателя по доверенности.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие действующий
                            бизнес. Заявку заполняет директор компании или представитель компании/предпринимателя по
                            доверенности. Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие
                            действующий бизнес. Заявку заполняет директор компании или представитель
                            компании/предпринимателя по доверенности.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие действующий
                            бизнес. Заявку заполняет директор компании или представитель компании/предпринимателя по
                            доверенности. Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие
                            действующий бизнес. Заявку заполняет директор компании или представитель
                            компании/предпринимателя по доверенности.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие действующий
                            бизнес. Заявку заполняет директор компании или представитель компании/предпринимателя по
                            доверенности. Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие
                            действующий бизнес. Заявку заполняет директор компании или представитель
                            компании/предпринимателя по доверенности.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие действующий
                            бизнес. Заявку заполняет директор компании или представитель компании/предпринимателя по
                            доверенности. Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие
                            действующий бизнес. Заявку заполняет директор компании или представитель
                            компании/предпринимателя по доверенности.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие действующий
                            бизнес. Заявку заполняет директор компании или представитель компании/предпринимателя по
                            доверенности. Заявку могут подать юридические лица и индивидуальные предприниматели, имеющие
                            действующий бизнес. Заявку заполняет директор компании или представитель
                            компании/предпринимателя по доверенности.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <Faq :page="'loan'"/>
            </div>
        </div>
    </section>
</template>
<script>
    import Faq from "../Common/Faq";

    export default {
        components: {
            Faq
        },
        data() {
            return {};
        },
        methods: {}
    }
</script>
