<template>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="main__text">
                    <h1 class="main-title">
                        <span>Деньги </span> быстро
                    </h1>
                    <p class="main-description">
                        <span>под залог недвижимости</span><br>
                        <small>
                            100% от суммы в день обращения! Полная анонимность!
                        </small>
                    </p>
                    <div class="main-about">
                        <div class="main-about-item">
                            <div class="main-about-item__title">
                                деньги&nbsp;от
                            </div>
                            <div class="main-about-item__info">
                                1&nbsp;часа
                            </div>
                        </div>
                        <div class="main-about-item">
                            <div class="main-about-item__title">
                                ставка&nbsp;от
                            </div>
                            <div class="main-about-item__info">
                                17,9%
                            </div>
                        </div>
                        <div class="main-about-item">
                            <div class="main-about-item__title">
                                срок&nbsp;до
                            </div>
                            <div class="main-about-item__info">
                                120&nbsp;мес.
                            </div>
                        </div>
                        <div class="main-about-item">
                            <div class="main-about-item__title">
                                сумма&nbsp;до
                            </div>

                            <div class="main-about-item__info">
                                150&nbsp;млн.
                            </div>
                        </div>
                    </div>
                    <p class="main-info">
                        Оформите заявку прямо сейчас. Для этого не нужно справок о доходе и поручительство. Весь процесс
                        оформления займа конфидециален. Предварительная оценка и решение онлайн <b>от 10 минут!</b>
                    </p>
                    <HeaderButton
                        :action="'/steps'"
                        :class="'main-form main-form--lg'"
                    />
                </div>
                <div class="main__video main-video">
                    <div class="main-video__img">
                        <img src="/img/design/bg/main-loan.png" alt="img">
                    </div>
                    <div class="main-video__btn">
                        <div class="video-btn">
                            <a href="#modal-video" class="video-btn__play open-modal"></a>
                            <div class="video-btn__title">
                                Как это работает
                            </div>
                        </div>
                    </div>
                </div>
                <HeaderButton
                    :action="'/steps'"
                    :class="'main-form main-form--xs'"
                />
            </div>
        </div>
    </main>
</template>
<script>
    import HeaderButton from "./HeaderButton";

    export default {
        components: {
            HeaderButton
        },
        data() {
            return {
            };
        },
        methods: {
        }
    }
</script>
