<template>
    <section class="section steps">
        <div class="container">
            <h2 class="section-header section-header--white section-header--center">
                Получите деньги в 3 простых шага
            </h2>
            <div class="steps-list">
                <div class="steps-list-row">
                    <div class="steps-list-item steps-list-item--left">
                        <div class="steps-list-item__text">
                            <a href="#">Отправьте онлайн заявку</a> на<br>
                            расчет недвижимости и условий
                        </div>
                        <div class="steps-list-item__marker">01</div>
                    </div>
                </div>
                <div class="steps-list-row">
                    <div class="steps-list-item steps-list-item--right">
                        <div class="steps-list-item__text">
                            Приезжайте на встречу с<br>
                            инвестором. Возьмите документы<br>
                            на собственность и паспорт
                        </div>
                        <div class="steps-list-item__marker">02</div>
                    </div>
                </div>
                <div class="steps-list-row">
                    <div class="steps-list-item steps-list-item--left">
                        <div class="steps-list-item__text">
                            Подпишите договор<br>
                            и получите деньги
                        </div>

                        <div class="steps-list-item__marker">03</div>

                    </div>

                </div>
            </div>
            <div class="steps__action">
                <button @click="formSubmit" class="btn btn--red">
                    Оформить заявку
                </button>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: [
            'action'
        ],
        data() {
            return {
                inn: '',
                address: '',
                ogrn: '',
                name: '',
                companyName: ''
            };
        },
        methods: {
            formSubmit(e) {
                this.$cookie.set(
                    'inn', this.inn, 999);
                this.$cookie.set(
                    'address', this.address, 999);
                this.$cookie.set(
                    'ogrn', this.ogrn, 999);
                this.$cookie.set(
                    'name', this.name, 999);
                this.$cookie.set(
                    'companyName', this.companyName, 999);
                document.location.href = this.action;
            },
            getData(data) {
                if (data.data) {
                    this.address = data.data.address ? data.data.address.unrestricted_value : '';
                    this.ogrn = data.data.ogrn;
                    this.name = data.data.management ? data.data.management.name : '';
                    this.companyName = data.data.name.short_with_opf ? data.data.name.short_with_opf : '';
                    this.inn = data.data.inn
                }
            }
        }
    }
</script>
