<template>
    <div class="modal-request__steps modal-request__section board">
        <ul>
            <li>
                <router-link class="modal-request__step"
                             data-page="modal-request-page-01"
                             to="/first-step-registration-info"
                             :event="''"
                             @click.native.prevent="dummyForPrevent()"
                >
                    <h2 class="modal-request__step-title">
                        Шаг 1
                    </h2>
                    <p class="modal-request__step-text">
                        Подача заявки. Предварительная оценка
                    </p>
                </router-link>
            </li>
            <li>
                <router-link class="modal-request__step"
                             data-page="modal-request-page-02"
                             to="/second-step-registration-info"
                             :event="''"
                             @click.native.prevent="dummyForPrevent()"
                >
                    <h2 class="modal-request__step-title">
                        Шаг 2
                    </h2>
                    <p class="modal-request__step-text">
                        Оценка отчетности и учредителей. Решение по рассмотрению
                    </p>
                </router-link>
            </li>
            <li>
                <button class="modal-request__step"
                        data-page="modal-request-page-03">
                    <h2 class="modal-request__step-title">
                        Шаг 3
                    </h2>
                    <p class="modal-request__step-text">
                        Подписание документов по займу
                    </p>
                </button>
            </li>
            <li>
                <button class="modal-request__step"
                        data-page="modal-request-page-04">
                    <h2 class="modal-request__step-title">
                        Финал
                    </h2>
                    <p class="modal-request__step-text">
                        Перечисление денежных средств на расчетный счет компании
                    </p>
                </button>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        components: {},
        data() {
            return {};
        },
        created() {
            if(this.$route.name==='main') {
                this.$router.push({name: 'first-step-registration-info'});
            }
        },
        methods: {
            dummyForPrevent() {
            }
        }
    }
</script>
<style>
    .router-link-active {
        color: #41525d;
    }

    .router-link-active .modal-request__step-title {
        font-weight: 700;
    }

    .router-link-active .modal-request__step-text {
        font-weight: 400;
    }
</style>
