<template>
    <section class="section reviews">
        <div class="container">
            <div class="reviews__bg">
                Отзывы
            </div>
            <h2 class="section-header section-header--center">
                Отзывы о нашей работе
            </h2>
            <Reviews :page="'main'"/>
        </div>
    </section>
</template>
<script>
    import Reviews from "../Common/Reviews";

    export default {
        components: {
            Reviews
        },
        data() {
            return {
            };
        },
        methods: {

        }
    }
</script>
