<template>
    <section class="section blog">
        <div class="container">
            <h2 class="section-header section-header--divided">
                <span>Блог</span>
                <a href="/blog">Смотреть все</a>
            </h2>
            <Blogs :page="'main'"/>
            <div class="blog-more">
                <a href="#">Смотреть все</a>
            </div>
        </div>
    </section>
</template>
<script>
    import Blogs from "../Common/Blogs";

    export default {
        components: {
            Blogs
        },
        props: [
            'page'
        ],
        data() {
            return {
                blogs: {},
                url: 'get-blogs'
            };
        },
        created() {
        },
        methods: {}
    }
</script>
