<template>
    <section class="section faq">
        <div class="container">
            <h2 class="section-header">
                Вопросы и ответы
            </h2>
            <div class="faq-wrap">
                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Кто может подать заявку на оформление бизнеса займов?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявку на бизнес кредит (заём) могут подать юридические лица (ООО), имеющие действующий, работающий бизнес от 12 месяцев. ИП рассматриваются только под залог недвижимости и транспорта в регионе Москва и МО.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Как быстро оформляется  бизнес кредит (заём)?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Заявка на кредит (заём) для бизнеса оформляется на сайте и занимает не более 1 минуты времени. После отправки информации, срок рассмотрения по первичной информации составит от 10 минут до 1 дня. Мы стараемся сделать процесс рассмотрения быстрым и оптимально лояльным.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Для получения бизнес займа нужен залог?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Основная доля займов для бизнеса выдается без залога, с поручительством директора. В случае наличия ликвидного залога, в виде транспорта или недвижимости сумму займа можно увеличить, а ставку уменьшить до минимально комфортного значения близкого к ставкам банка.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Как получить кредит (заём) на исполнение гос. контрактов по 44-фз и 223-фз?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Процесс оформления займа на исполнение государственных или коммерческих контрактов занимает минимум времени, обеспечением по этим займа является аванс от заказчика и поручительство собственника компании заёмщика. Вам понадобиться минимальный пакет документов компании и информация о контактах, на исполнение которых нужны деньги.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Моей компании меньше 6 месяцев, могу ли я получить бизнес заём?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Согласно правилам первичной оценки компаний, срок ведения бизнеса с момента регистрации должен составлять не менее 12 месяцев. При этом, компания должна иметь положительный не нулевой баланс.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        Какая максимальная сумма бизнес займа?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Сумма бизнес займа соответствует финансовым показателям вашей компании и сопоставляется с потребностью и перспектива по исполнению обязательств компанией, кредитной нагрузкой и обязательствами.  Максимальная сумма бизнес займа без залога, может иметь объем до 20 млн рублей, для постоянных клиентов.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->

                <div class="faq-item">
                    <h3 class="faq-item__title">
                        В каких регионах можно получить бизнес займы?
                    </h3>
                    <!-- /.faq-item__title -->
                    <div class="faq-item__content">
                        <p>
                            Работаем по центральному региону России.
                        </p>
                    </div>
                    <!-- /.faq-item__content -->
                </div>
                <!-- /.faq-item -->
                <Faq :page="'main'"/>
            </div>
        </div>
    </section>
</template>
<script>
    import Faq from "../Common/Faq";

    export default {
        components: {
            Faq
        },
        data() {
            return {
            };
        },
        methods: {

        }
    }
</script>
