<template>
    <section>
        <div class="modal-profile__contacts-inner fifthBlock"
             style="z-index: 999; margin-top: 55px;">
            <h3 class="fifthBlock__title">
                Информация о залоге
                <img style="align-self: baseline;margin-right: 80px;"
                     class="img" src="/img/secondstep/question.png"/>
            </h3>
            <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                <div
                        is="AttachFile"
                        v-for="(attachFile, index) in attachFiles"
                        :id="'loanInfo' + index"
                        :url-flag="false"
                        :key="index"
                        :ref="'attachFileloanInfo' + index"
                ></div>
            </div>
        </div>
        <div style="margin-top: 30px"
             class="modal-profile__contacts-item modal-profile__contacts-item_phone">
            <a href="#"
               @click.prevent="dublicateInfo"
               class="modal-profile__add-button">
                Добавить залог
                <img
                        src="/images/secondstep/plus.png"></a>
        </div>
    </section>
</template>
<script>
    import AttachFile from "./AttachFile";

    export default {
        components: {
            AttachFile
        },
        data() {
            return {
                attachFiles: [
                    {}
                ]
            };
        },
        mounted() {
        },
        methods: {
            dublicateInfo() {
                this.attachFiles.push({});
            }
        }
    }
</script>
<style>
    .fifthBlock__title {
        margin-bottom: 30px;
    }

    .fifthBlock__title img {
        margin-left: 20px;
    }
</style>