<template>
    <section>
        <h2 class="thirdTab__title">
            Цели займа
        </h2>
        <span class="thirdTab__subtitle">
            Опишите цель финансирования, приложите ссылки и договора, информацию о цели финансирования и поставщиках
        </span>
        <div class="modal-profile__contacts-inner" style="z-index: 999">
            <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                    <textarea class="thirdTab__textarea input"
                              id="modal-profile-textarea"
                              type="text"
                              value=""
                              v-model="textareaTarget"
                              placeholder="Цель финансирования*">
                    </textarea>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                textareaTarget: ''
            };
        },
        methods: {
        }
    }
</script>
<style>
</style>
