<template>
    <section>
        <div class="modal-profile__contacts-inner fourthBlock"
             style="z-index: 999; margin-top: 55px;">
            <h3 class="fourthBlock__title">
                Информация о заказчике
                <img style="align-self: baseline;margin-right: 80px;"
                     class="img" src="/img/secondstep/question.png"/>
            </h3>
            <div
                    v-for="customer in customers"
                    class="inner_wrap">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                    <input class="input"
                           id="modal-profile-inn"
                           type="number"
                           value=""
                           v-model="customer.inn"
                           placeholder="ИНН заказчика">
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_site">
                    <input class="input"
                           id="modal-profile-material"
                           type="text"
                           v-model="customer.material"
                           value=""
                           placeholder="Информация о материалах поставки"
                    >
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                    <input class="input"
                           id="modal-profile-sum"
                           type="number"
                           value=""
                           v-model="customer.sum"
                           placeholder="Сумма поставки(руб)">
                </div>
            </div>
            <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                <a href="#"
                   @click.prevent="dublicateCustomer"
                   class="modal-profile__add-button">
                    Добавить заказчика
                    <img
                            src="/images/secondstep/plus.png"></a>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                customers: [
                    {inn: '', material: '', sum: ''}
                ],
            };
        },
        created() {
        },
        methods: {
            dublicateCustomer() {
                this.customers.push({inn: '', material: '', sum: ''});
            }
        }
    }
</script>
<style>
    .fourthBlock__title {
        margin-bottom: 30px;
    }

    .fourthBlock__title img {
        margin-left: 20px;
    }
</style>
