<template>
    <section>
        <div class="modal-profile__contacts-inner" style="z-index: 999; margin-top: 20px;">
            <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                <attach-file
                        ref="attachFiletenderInfo"
                        :id="'tenderInfo'"
                        :url-flag="true"
                ></attach-file>
            </div>
        </div>
    </section>
</template>
<script>
    import AttachFile from "./AttachFile";

    export default {
        components: {
            'attach-file': AttachFile
        },
        data() {
            return {
            };
        },
        methods: {}
    }
</script>
<style>
</style>