<template>
    <section>
        <div class="modal-profile__contacts-inner thirdBlock"
             style="z-index: 999; margin-top: 20px;">
            <h3 class="thirdBlock__title">
                Информация о поставщике
                <img style="align-self: baseline;margin-right: 80px;"
                     class="img" src="/img/secondstep/question.png"/>
            </h3>
            <div
                    v-for="provider in providers"
                    class="inner_wrap">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                    <input class="input"
                           id="modal-profile-inn"
                           type="number"
                           value=""
                           v-model="provider.inn"
                           placeholder="ИНН поставщика">
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_site">
                    <input class="input"
                           id="modal-profile-material"
                           type="text"
                           v-model="provider.material"
                           value=""
                           placeholder="Информация о материалах поставки"
                    >
                </div>
                <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                    <input class="input"
                           id="modal-profile-sum"
                           type="number"
                           value=""
                           v-model="provider.sum"
                           placeholder="Сумма поставки(руб)">
                </div>
            </div>
            <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                <a href="#"
                   @click.prevent="dublicateProvider"
                   class="modal-profile__add-button">
                    Добавить поставщика
                    <img
                            src="/images/secondstep/plus.png"></a>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                providers: [
                    {inn: '', material: '', sum: ''}
                ],
            };
        },
        watch: {},
        created() {
        },
        methods: {
            dublicateProvider() {
                this.providers.push({inn: '', material: '', sum: ''});
            }
        }
    }
</script>
<style>
    .thirdBlock__title {
        margin-bottom: 30px;
    }
    .thirdBlock__title img {
        margin-left: 20px;
    }
</style>
